<!doctype html>
<head>
    <link rel="stylesheet" href="{{ rootUrl }}/css/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body>
<div class="container-fluid">
    <div class="sidebar">
        <ul>
            {% for link in primaryNavigation %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h1>Well this is nice</h1>

        {{ "I like %s and %s."|format("this", "that") }}
        {{ content }}
    </div>


</div>
</body>

