<?php
/**
 * 
 * @author Ed van Beinum <e@edvanbeinum.com>
 * @version $Id$
 * @package S3Credentials 
 */
 
 
 /**
 * Example Class for setting up testing against the Amazon S3 API.
 * To use this, enter your AWS key, secrey key and a bucket name that exists into the array below
 * Then rename this file to S3Credentials.php
 
 * @package S3Credentials
 * @author Ed van Beinum <e@edvanbeinum.com>
 */
class S3Credentials {

    /**
     * AWS API credentials.
     * N.B these are for testing only and are not used by the main program to auto-publish the final site
     * Those credentials are stored in \Snowshoe\Config\App
     *
     * @var array
     */
    protected $_credentials = array(
        's3Key' =>'',
        's3SecretKey' => '',
        's3BucketName' => ''
    );

    /**
     * Return credentials
     *
     * @return array
     */
    public function getCredentials()
    {
        return $this->_credentials;
    }
}
